<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title>Your Plan: Sugar Dada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="cards-container">

	<div class="card card-entered card-clickable" id="risk-card">
     <div class="card-inner">
        <div class="card-title"><span id="risk-level"><%= riskLevel %></span> Risk</div>
		<div class="card-value"><span id="ticker"><%= investmentTicker %></span></div>
        <div class="card-hint">Tap to change</div><!-- , double-tap to party -->
        </div>
     </div>

  <div class="card card-entered card-clickable" id="monthly-investment-card">
    <div class="card-inner">
      <div class="card-title">Monthly</div>
      <div class="card-value">
        <span class="symbol-blue">$</span><span id="monthly-investment-value"><%= Math.round(investment).toLocaleString() %></span>
      </div>
      <div class="card-hint">Tap to add $50, double-tap to undo</div>
    </div>
  </div>

  <div class="card card-entered">
    <div class="card-inner">
      <div class="card-title">Est. Value</div>
      <div class="card-value">
        <span class="symbol-red">$</span><span id="est-value"><%= estValue %></span>
      </div>
    </div>
  </div>

  <div class="card card-entered">
    <div class="card-inner">
      <div class="card-title">Est. Return</div>
      <div class="card-value" id="est-return">
        <span class="symbol-green">x</span><span id="roi-multiple"><%= roiMultiple %></span>
	      <div class="card-hint hint-visible">$<span id="roi-hint"><%= roiHint %></span></div>
          </div>
        </div>
      </div>
	  
    </div>
	
  </div>

  <%- include('partials/footer') %>
  
  <script src="/js/universalRush.js"></script>
  <script src="/js/confirmationCommon.js"></script>
  <script src="/js/tapHandlers.js"></script>
</body>
</html>