<!-- views/confirmation.ejs -->
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title>Your Plan: Sugar Dada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pvvYb9HfBc+1JHnY7u7YX5XpYFSUsvXuTJXNjRC7UY1nhz5wOPmZjwCqfGKyBs8CvIlrVhF5IVlYhOZoR4qkpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="cards-container">
      <div class="card">
        <div class="card-inner">
          <div class="card-title"><%= riskLevel %> Risk</div>
          <div class="card-value"><%= investmentTicker %></div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-title">Monthly Investment</div>
          <div class="card-value">$<%= Math.round(investment).toLocaleString() %></div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-title">Est. Value</div>
     	  <div class="card-value">$<%= Math.round(investmentRecords[investmentRecords.length - 1].totalValue).toLocaleString() %></div>
        </div>
      </div>

<div class="card">
  <div class="card-inner">
    <div class="card-title">Est. Return</div>
 		<div class="card-value">x<%= (investmentRecords[investmentRecords.length - 1].interest / investmentRecords[investmentRecords.length - 1].totalInvestment).toFixed(1) %></div>
		<div class="card-hint">$<%= Math.round(investmentRecords[investmentRecords.length - 1].interest).toLocaleString() %></div>
    </div>
  </div>
</div>

    </div>
  </div>
  <%- include('partials/footer') %>

  <script src="/js/confirmation.js"></script>
</body>
</html>