<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title><%= name %>'s Plan: Sugar Dada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body data-userid="<%= userId %>" >
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="cards-container">

	<div class="card card-entered" id="risk-card">
     <div class="card-inner">
        <div class="card-title"><span id="risk-level"><%= riskLevel %></span> Risk</div>
		<div class="card-value"><span id="ticker" data-final="<%= investmentTicker %>"></span></div>
        <div class="card-hint">Tap to change risk</div><!-- , double-tap to party -->
        </div>
     </div>

  <div class="card card-entered" id="monthly-investment-card">
    <div class="card-inner">
      <div class="card-title">Contribution</div>
      <div class="card-value">
        <span class="symbol-blue">$</span><span id="monthly-investment-value" data-final="<%= investment %>"></span><span class="small">/mo</span>
      </div>
      <div class="card-hint">Tap to add $50, double-tap to undo</div>
    </div>
  </div>

  <div class="card card-entered">
    <div class="card-inner">
      <div class="card-title">2041 Value</div>
      <div class="card-value">
        <span class="symbol-red">$</span><span id="est-value" data-final="<%= estValue %>"></span>
      </div>
      <div class="card-hint">Tap to change length</div>
    </div>
  </div>

  <div class="card card-entered">
    <div class="card-inner">
      <div class="card-title">Gain</div>
      <div class="card-value" id="est-return">
		  <span id="roi-multiple" data-final="<%= roiPct %>"></span><span class="symbol-green">%</span>
	  </div>
	  <div class="card-hint">Tap to change view</div>
      </div>
    </div>
	  
    </div>
	
	<div class="chart-container" id="chartContainer"></div>
  </div>

  <%- include('partials/footer') %>
<script id="lifeEventsJson" type="application/json"><%- lifeEvents %></script>
<script src="/js/confirmationCommon.js"></script>
<script src="/js/number-flow-lite.js"></script>
<script src="/js/tapHandlers.js"></script>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="/js/lightweightChartBuilder.js"></script>
</body>
</html>