<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <title>Onboarding: Sugar Dada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="cards-container">

      <div class="card">
        <div class="card-inner">
          <div class="card-title"><%= riskLevel %> Risk</div>
          <div class="card-value blurred-value">
            <span><%= investmentTicker.toUpperCase() %></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-title">Contributions</div>
          <div class="card-value blurred-value">
            <span class="symbol-blue">$</span><%= investment %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-title"><%= name %> Turns 18</div>
          <div class="card-value blurred-value">
            <span class="symbol-red">$</span><span><%= estValue %></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-title">ROI</div>
          <div class="card-value blurred-value">
            <span><%= roiPct %></span><span class="symbol-green">%</span>
          </div>
        </div>
      </div>
    </div>

    <div class="question no-top-margin"></div>

    <% if (errors && errors.length > 0) { %>
      <ul class="error">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/onboarding/7" method="POST" class="form" data-question="Results are ready. What's your email?">
      <div class="subtitle">You'll get the full plan</div>
      <textarea name="email" inputmode="email" autocomplete="email" rows="1" cols="30" style="text-transform: lowercase; width:300px;" required></textarea>
	  <div class="hint nomobile">Press Return to continue</div>
    </form>
  </div>

  <%- include('partials/footer') %>

  <script>
	  document.addEventListener('DOMContentLoaded', () => {
	    const cards = document.querySelectorAll('.card');
	    cards.forEach((card, i) => {
	      setTimeout(() => {
	        card.classList.add('card-enter');
	      }, i * 100);
	    });
	  });
  </script>
</body>
</html>