<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>Onboarding: Sugar Dada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>
  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="question"></div>

    <% if (errors.length > 0) { %>
      <ul class="error">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/onboarding/2"
          method="POST"
          class="form"
          data-gender="<%= gender %>">
    <div class="input-container">
      <textarea name="babyName" rows="1" required><%= oldInput.babyName ? oldInput.babyName : '' %></textarea>
      <button type="submit" class="submit-button">➜</button>
	  </div>
      <div class="hint nomobile">Press Return to continue</div>
    </form>
  </div>

  <%- include('partials/footer') %>
  <script>
	  document.addEventListener('DOMContentLoaded', () => {
		const emailTextarea = document.querySelector("textarea[name='babyName']");
		  if (emailTextarea) {
		    const emailContainer = emailTextarea.closest('.input-container');
		    if (emailContainer) {
		      const emailSubmitButton = emailContainer.querySelector('.submit-button');
		      if (emailSubmitButton) {
		        emailTextarea.addEventListener('input', function() {
		          if (this.value.trim().length > 0) {
		            emailSubmitButton.classList.add("active");
		          } else {
		            emailSubmitButton.classList.remove("active");
		          }
		        });
		      }
		    }
		  }
	  });
  </script>
</body>
</html>